*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.body-container{
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 200, 221);
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head{
  background-color: rgb(255, 175, 204);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 30px;

  z-index: 1;
}

.div-logo img{
  background-color: rgba(255, 59, 131, 0.356);
  width: 50px;
  border-radius: 50%;
}

.div-logo img:hover{
  background-color: rgba(255, 59, 131, 0.6);
  transition: .2s linear;
}

.div-li ul{
  display: flex;
}

.div-li a{
  color: #fff;
  margin: 20px;
}

.div-li a:hover{
  color: rgba(137, 43, 226, 0.6);
  transition: .2s linear;
}

.footer{
  background-color: rgb(255, 175, 204);
  text-align: center;
  padding: 25px;
  font-size: 1.1rem;
  color: #005;
  width: 100%;
}

.footer span{
  font-weight: 600;
}

/*   index page   */

.index-article{
  text-align: center;
}

.index-article-title{
  padding: 30px;
  color: rgb(255, 59, 131);
}

.index-article-title h2{
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
}

.index-article-title p{
  color: rgb(182, 36, 187);
  font-size: 1.1rem;
}

.article-img{
  width: 60vw;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid blueviolet;
  box-shadow: 0px 0px 30px rgba(186, 114, 253, 0.7);
}

.index-section{
  text-align: center;
  margin: 60px auto;
}

.index-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.index-section-p{
  width: 40%;
  color: rgb(182, 36, 187);
  font-size: 1.03rem;
  max-width: 400px;
}

.index-section-p p{
  text-align: justify;
}

.index-section-p h3{
  font-family: "Indie Flower", cursive;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.index-section-img{
  width: 30%;
}

.index-section-img img{
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid blueviolet;
  box-shadow: 0px 0px 30px rgba(186, 114, 253, 0.8);
}

/*  about page  */

.about-container{
  margin-top: 30px;
}

.about-title{
  text-align: center;
}

.about-title h2{
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  color: rgb(255, 59, 131);
}

.about-title p{
  color: rgb(182, 36, 187);
  font-size: 1.1rem;
}

.about-container img{
  width: 250px;
  max-height: 220px;
  border-radius: 20px;
  border: 1px solid blueviolet;
  box-shadow: 0px 0px 30px rgba(186, 114, 253, 0.8);
}

.about-content-one,
.about-content-two, 
.about-content-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.about-content-one p,
.about-content-two p, 
.about-content-three p {
  max-width: 400px;
  text-align: justify;
  color: rgb(182, 36, 187);
  font-size: 1.03rem;
}

/*    contact page    */

.contact-container{
  flex-grow: 1;
}

.contact-title{
  text-align: center;
  margin-top: 30px;
}

.contact-title h2{
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  color: rgb(255, 59, 131);
}

.contact-title p{
  color: rgb(182, 36, 187);
  font-size: 1.1rem;
}

.contact-img{
  margin: 50px;
  text-align: center;
}

.contact-img img{
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(137, 43, 226, 0.3);
  width: 400px;
  height: 300px;
}

.contact-p{
  text-align: center;
  margin: 10px auto;
  color: rgb(182, 36, 187);
  font-size: 1.05rem;
}

.contact-rrss{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
}

.contact-email, .contact-whatsapp{
  text-align: center;
  display: flex;
  font-size: 1.15rem;
}

.contact-email a, .contact-whatsapp a{
  margin: 0px 10px;
  color: rgb(182, 36, 187);
}

.contact-email a:hover, .contact-whatsapp a:hover{
  color: rgb(255, 59, 131);
  transition: .2s linear;
}

.contact-email p, .contact-whatsapp p{
  color: rgb(255, 59, 131);
}

/*   information page   */

.info-container{
  text-align: center;
  margin-top: 30px;

  flex-grow: 1;
}

.info-container h2{
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  color: rgb(255, 59, 131);
}

.info-container p{
  color: rgb(182, 36, 187);
  font-size: 1.1rem;
}

.info-table{
  margin: 50px auto;
  height: 30%;
  width: 50%;
  max-width: 500px;
  border-collapse: collapse;
  box-shadow: 0px 0px 30px rgba(137, 43, 226, 0.1);
}

.info-table thead{
  background-color: rgba(137, 43, 226, 0.233);
}

.info-table th, td{
  border: 1px solid rgb(182, 36, 187);
  padding: 15px;
}

.info-table td{
  color: blueviolet;
}

.info-table td:first-child{
  text-align: justify;
}

/*    benefits page    */

.benefits-container{
  margin-top: 30px;
  flex-grow: 1;
}

.benefits-container h2, p{
  text-align: center;
}

.benefits-container h2{
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  color: rgb(255, 59, 131);
}

.benefits-container p{
  color: rgb(182, 36, 187);
  font-size: 1.1rem;
}

.benefits-list{
  margin: 20px auto;
  width: 70%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-list-div-uno, .benefits-list-div-dos{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 40px;
  padding: 20px;
  border: 1px solid rgb(182, 36, 187);
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(137, 43, 226, 0.2);
  font-size: 1.03rem;
  min-width: 320px;

  width: 100%;
}

.benefits-list-div-uno img, .benefits-list-div-dos img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(137, 43, 226, 0.2);
  margin-right: 10px;
}

.bl-div-dos{
  width: 50%;
}

.bl-div-dos h3{
  color: rgb(103, 4, 196);
  font-family: "Indie Flower", cursive;
}

.bl-ul{
  margin-left: 40px;
}

.bl-ul>li{
  list-style: circle;
  color: rgb(182, 36, 187);
}

/*     raffle page     */

.raffle-title{
  text-align: center;
  margin: 30px;
}

.raffle-title h2{
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  color: rgb(255, 59, 131);
}

.raffle-title p{
  color: rgb(182, 36, 187);
  font-size: 1.1rem;
}

.raffle-map{
  text-align: center;
}

.raffle-map p{
  color: rgb(182, 36, 187);
  font-size: 1.3rem;
  margin: 20px;
}

.raffle-map iframe{
  border-radius: 5px;
}

.raffle-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 50px 0px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 17px;
  
  border: 1px solid rgb(182, 36, 187);
  border-radius: 10px;
  background-color: rgba(255, 59, 206, 0.05);

  width: 350px;
}

.form-p{
  text-align: left;
}

#fname, #lname, #select, #date{
  background-color: #fbfbfb;
  border: #fbfbfb;
  height: 25px;
  padding: 5px;
  border-radius: 2px;
}

.form textarea{
  padding: 5px;
  border-radius: 3px;
}

.fieldset-button{
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldset-button button{
  padding: 2px 12px;
  color: rgb(74, 31, 114);
}


/*     media queries     */


@media screen and (max-width: 768px) {
  .head{
    flex-direction: column-reverse;
    text-align: center;
  }

  .div-li ul{
    flex-direction: column;
  }

  .footer{
    font-size: 0.8rem;
  }

  /*  index  */

  .index-article-img{
    width: 70%;
    margin: 0px auto;
  }

  .index-section{
    flex-direction: column-reverse;
  }

  .index-section-img{
    width: 50%;
  }
  
  .index-section-img img{
    margin-bottom: 30px;
  }

  /*  about  */

  .about-content-one,
  .about-content-two, 
  .about-content-three {
    flex-direction: column;
  }

  .about-content-one img,
  .about-content-two img, 
  .about-content-three img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .about-content-one p,
  .about-content-two p, 
  .about-content-three p {
    max-width: 300px;
    text-align: center;
  }

  /*  contact  */

  .contact-img{
    margin: 50px 0px;
  }

  .contact-img img{
    width: 300px;
    height: 200px;
  }

  .contact-rrss{
    flex-direction: column;
  }

  .contact-rrss div{
    margin: 8px 0px;
  }

  /*  benefits  */

    .benefits-list-div-uno, .benefits-list-div-dos{
    flex-direction: column;
  }

  /*  raffle  */

  .raffle-content{
    flex-direction: column-reverse;
  }

  .raffle-title p{
    font-size: 1rem;
  }
  
  .raffle-map iframe{
    width: 350px;
    height: 250px;
  }

}

@media screen and (max-width: 360px) {

  /*  contact  */

  .contact-p {
    font-size: 0.9rem;
  }

  /*  raffle  */

  .raffle-map iframe{
    width: 300px;
    height: 200px;
  }

  /*  raffle  */

  .form{
    width: 300px;
  }

}

